# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
# Vim temporary files
*.autosave
*.debug
.*.swp
*~
# Python byte code
*.pyc
# Binaries
*.dll
*.exe
# --------
# Froux python file
__pycache__
# data output folders and file
/xor_result
/Mnist_debug
*.csv
# Mnist database
database/
# doxygen file
.idea/vcs.xml

# Config file
*.ini

# Image
*.png
