
# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*~
*.autosave

*.debug

# Vim temporary files
.*.swp

# Python byte code
*.pyc

# Binaries
# --------
*.dll
*.exe


# Mnist database
database/

# Froux python file
__pycache__

# doxygen file
.idea/vcs.xml

# data outputfolders and file
/xor_result
*.csv
